.library__header-search {
    width: 50px;
    height: 50px;
    background-image: var(--image-search-menu);
}

.library__header-drop__down__button__icon__background {
    opacity: 0;
    width: 60px;
    margin-right: 7px;
}

.library__header-name__sort__icon,
.library__header-size__sort__icon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.library__header-name__sort__icon {
    left: 95px;
}

.library__header-size__sort__icon {
    left: 65px;
}

.library__header-sort__icon__ascending {
    background-image: var(--image-arrow__ligth-displayer);
}

.library__header-sort__icon__descending {
    background-image: var(--image-arrow__ligth-displayer);
    rotate: 180deg;
}

.library__screen-header > .library-main > .unity-disabled.library-drop_down__button {
    opacity: 1;
}