.cursor {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
}

.cursor > .cursor-target {
	position: absolute;
	width: var(--size-cursor__target-enabled);
	height: var(--size-cursor__target-enabled);
}

.cursor.cursor-enabled > .cursor-target {
	background-image: var(--background-image-cursor__target-enabled);
}

.cursor.cursor-hover > .cursor-target {
	background-image: var(--background-image-cursor__target-hover);
}

.cursor-action {
	max-width: 35%;
	background-color: var(--background-color-transparent-game);
}