.notif__users {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 2;
	background-color: var(--background-color-transparent-game);
	border-top-left-radius: var(--border-radius-game);
	border-bottom-left-radius: var(--border-radius-game);
}