.session-info-btn {
    border-right-width: 1px;
    border-top-width: 0;
    border-left-width: 1px;
    border-bottom-width: 1px;
    width: 112px;
}

.session-info-btn-sound-on {
   
}

.session-info-btn-sound-on:hover {
   
}

.session-info-btn-sound-off {
    
}

.session-info-btn-sound-off:hover {
    
}

.session-info-btn-active-avatar-on {
    
}

.session-info-btn-active-avatar-on:hover {
    
}

.session-info-btn-active-avatar-off {
    
}

.session-info-btn-active-avatar-off:hover {
   
}

.session-info-btn-mute-on {
    
}

.session-info-btn-mute-on:hover {
    
}

.session-info-btn-mute-off {
    
}

.session-info-btn-mute-off:hover {
    
}

.session-info-btn-hang-up {
    
}

.session-info-btn-hang-up:hover {
    
}

.is-favorite {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_ENABLE.png');
    background-color: rgba(0, 0, 0, 0);
}

.is-favorite:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_HOVER.png');
}

.is-favorite:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_PRESS.png');
}

.not-favorite {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteOFF_ENABLE.png');
}

.not-favorite:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_PRESS.png');
}
