.btn {
    border-right-width: 1px;
    border-top-width: 0;
    border-left-width: 1px;
    border-bottom-width: 1px;
    width: 112px;
}

.btn-sound-on {
}

.btn-sound-on:hover {
}

.btn-sound-off {
}

.btn-sound-off:hover {
}

.btn-active-avatar-on {
}

.btn-active-avatar-on:hover {
}

.btn-active-avatar-off {
}

.btn-active-avatar-off:hover {
}

.btn-mic-on {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microON_ENABLE.png');
}

.btn-mic-on:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microON_HOVER.png');
}

.btn-mic-on:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microON_PRESS.png');
}

.btn-mic-off {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microOFF_ENABLE.png');
}

.btn-mic-off:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microOFF_HOVER.png');
}

.btn-mic-off:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_microOFF_PRESS.png');
}

.btn-notif-alert {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifAlerte_ENABLE.png');
}

.btn-notif-alert:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifAlerte_HOVER.png');
}

.btn-notif-alert:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifAlerte_PRESS.png');
}

.btn-notif-on {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifON_ENABLE.png');
}

.btn-notif-on:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifON_HOVER.png');
}

.btn-notif-on:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifON_PRESS.png');
}

.btn-notif-off {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifOFF_ENABLE.png');
}

.btn-notif-off:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifOFF_HOVER.png');
}

.btn-notif-off:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_notifOFF_PRESS.png');
}

.is-favorite {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_ENABLE.png');
    background-color: rgba(0, 0, 0, 0);
}

.is-favorite:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_HOVER.png');
}

.is-favorite:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_PRESS.png');
}

.not-favorite {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteOFF_ENABLE.png');
}

.not-favorite:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_favoriteON_PRESS.png');
}

.btn-options {
    background-image: url('/Assets/Project/UI/UI_connection/btn_options_ENABLE.png');
}

.btn-options:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_options_HOVER.png');
}

.btn-options:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_options_PRESS.png');
}

.btn-leave {
    background-image: url('/Assets/Project/UI/UI_connection/btn_quitterCession_ENABLE.png');
}

.btn-leave:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_quitterCession_HOVER.png');
}

.btn-leave:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_quitterCession_PRESS.png');
}

.btn-open-pause-menu {
    background-image: url('/Assets/Project/UI/UI_connection/btn_Menu_ENABLE.png');
    background-color: rgba(0, 0, 0, 0);
}

.btn-open-pause-menu:hover {
    background-image: url('/Assets/Project/UI/UI_connection/btn_Menu_HOVER.png');
}

.btn-open-pause-menu:active {
    background-image: url('/Assets/Project/UI/UI_connection/btn_Menu_PRESS.png');
}
