VisualElement {
}

.darkTheme-toolboxWindow-icon {
    background-image: url('/Assets/Project/UI/UI_connection/menu_bar/btn_toolbox_PRESS.png');
}

.darkTheme-toolboxWindow-close-btn:active {
    background-image: url('/Assets/Project/UI/Icons/Windows/close.png');
    background-color: rgba(247, 182, 88, 255);
}

.darkTheme-toolboxWindow-close-btn:hover {
    background-image: url('/Assets/Project/UI/Icons/Windows/close.png');
    background-color: rgba(255, 0, 0, 255);
}
